Repository eruptionjs/react-full: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run lint:fix, npm run lint:css

Update ci.yml to use bun
  .github/workflows/ci.yml
Due: none

Remove node matrix
  .github/workflows/ci.yml
Due: none

Update README.md
  README.md
Due: npm run prettier:fix

chore(update-ts-and-deps): update deps to latest and configs to match eruption/core and /config
  .eslintignore
  .eslintrc.cjs
  .husky/pre-commit
  .prettierrc
  .prettierrc.js
  bun.lock
  bun.lockb
  eslint.config.js
  package.json
  public/mockServiceWorker.js
  src/App/App.tsx
  src/assets/ReactLogo/ReactLogo.tsx
  src/libs/axios.ts
  src/libs/index.ts
  src/libs/react-router.ts
  src/libs/testing-lib.tsx
  src/main.tsx
  src/pages/Home/App.spec.tsx
  src/pages/Home/Home.spec.tsx
  src/pages/Home/Home.tsx
  src/pages/NotFound/NotFound.spec.tsx
  src/pages/NotFound/NotFound.tsx
  src/providers/ErrorBoundaryProvider.tsx
  src/providers/NotificationProvider.tsx
  src/providers/QueryProvider.tsx
  src/providers/ThemeProvider.tsx
  src/reportWebVitals.ts
  src/router/Router.tsx
  src/router/index.ts
  src/routes/index.ts
  src/storage/index.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
Due: npm run prettier:fix, npm run lint:fix

chore(update-ts-and-dep): update ci
  .github/workflows/ci.yml
Due: none

chore(update-ts-and-deps): update cofigs and add github workflows
  .github/auto_assign.yml
  .github/dependabot.yml
  .github/stale.yml
  bun.lock
  package.json
Due: npm run prettier:fix

chore(packages): upgrade rr
  bun.lock
  package.json
Due: npm run prettier:fix

Path conditions:
  npm run prettier:fix: (any of: *.{html,md,json,jsonc}) or (any of: *.{ts,tsx})
  npm run lint:fix: any of: *.{ts,tsx}
  npm run lint:css: any of: *.css
